#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        lang_spc: lang_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            display-name = "Lang/Space";
        };

        nav_ent: nav_enter {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Nav/Enter";
        };

        num_tab: num_tab {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Num/Tab";
        };

        sym_bsp: sym_bsp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Sym/Bsp";
        };

        util_esc: util_esc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Util/Esc";
        };
    };

    macros {
        copy_win: copy_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>;
        };

        paste_win: paste_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_release &kp LCTRL>;
        };

        cut_win: cut_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp X>
                , <&macro_release &kp LCTRL>;
        };

        undo_win: undo_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Z>
                , <&macro_release &kp LCTRL>;
        };

        save_win: save_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp S>
                , <&macro_release &kp LCTRL>;
        };

        find_win: find_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>;
        };

        goto_def_win: goto_def_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp B>
                , <&macro_release &kp LCTRL>;
        };

        comment_win: comment_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp SLASH>
                , <&macro_release &kp LCTRL>;
        };

        format_win: format_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp L>
                , <&macro_release &kp LALT>
                , <&macro_release &kp LCTRL>;
        };

        copy_term: copy_term {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp C>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>;
        };

        paste_term: paste_term {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <10>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp V>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
                &kp GRAVE   &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp BSLH
                &kp TAB     &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
                &kp LSHFT   &mt LGUI A    &mt LALT S    &mt LCTRL D   &mt LSHFT F   &kp G         &kp H         &mt LSHFT J   &mt LCTRL K   &mt LALT L    &mt LGUI SEMI &kp APOS
                &kp LCTRL   &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N         &kp M         &kp COMMA     &kp DOT       &kp SLASH     &kp DEL
                                            &kp ESC      &kp LGUI      &lang_spc LANG1 SPACE   &nav_ent 1 ENTER   &num_tab 2 TAB
                                                          &sym_bsp 3 BSPC          &util_esc 4 ESC           &mo 5
            >;
        };

        Nav {
            bindings = <
                &trans      &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11
                &trans      &trans        &trans        &trans        &trans        &trans        &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &trans        &kp F12
                &trans      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &trans        &trans        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &trans        &kp INS       &kp PG_DN     &kp PG_UP     &kp DEL       &trans
                                            &trans       &trans        &trans                    &trans                    &trans
                                                          &trans                    &trans                    &trans
            >;
        };

        Num {
            bindings = <
                &trans      &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &kp N7        &kp N8        &kp N9        &kp MINUS     &kp EQUAL     &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &kp N4        &kp N5        &kp N6        &kp LBKT      &kp RBKT      &trans
                &trans      &trans        &trans        &trans        &trans        &trans        &kp N1        &kp N2        &kp N3        &kp N0        &kp DOT       &trans
                                            &trans       &trans        &trans                    &trans                    &trans
                                                          &trans                    &trans                    &trans
            >;
        };

        Sym {
            bindings = <
                &trans      &kp GRAVE     &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &kp CARET     &kp AMPS      &kp ASTRK     &kp LPAR      &kp RPAR
                &trans      &trans        &trans        &trans        &trans        &trans        &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC      &kp BSLH      &kp PIPE
                &trans      &trans        &trans        &trans        &trans        &trans        &kp MINUS     &kp EQUAL     &kp UNDER     &kp PLUS      &kp SEMI      &kp APOS
                &trans      &trans        &trans        &trans        &trans        &trans        &kp COMMA     &kp DOT       &kp SLASH     &kp QMARK     &kp TILDE     &trans
                                            &trans       &trans        &trans                    &trans                    &trans
                                                          &trans                    &trans                    &trans
            >;
        };

        Util {
            bindings = <
                &trans      &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &trans
                &trans      &copy_win     &paste_win    &cut_win      &undo_win     &save_win     &copy_term    &paste_term   &find_win     &goto_def_win &comment_win  &trans
                &trans      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &format_win   &trans        &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans
                &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR    &bootloader   &trans        &trans        &trans        &trans        &trans        &trans
                                            &trans       &trans        &trans                    &trans                    &trans
                                                          &trans                    &trans                    &trans
            >;
        };

        Mouse {
            bindings = <
                &trans      &none         &none         &none         &none         &none         &none         &none         &none         &none         &none         &trans
                &trans      &none         &none         &none         &none         &none         &none         &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP  &msc SCRL_RIGHT &trans
                &trans      &none         &none         &none         &none         &none         &mkp MB4      &mkp LCLK      &mkp MCLK      &mkp RCLK     &mkp MB5      &trans
                &trans      &copy_win     &paste_win    &copy_term    &paste_term   &none         &trans        &trans        &trans        &trans        &trans        &trans
                                            &trans       &trans        &trans                    &trans                    &trans
                                                          &trans                    &trans                    &trans
            >;
        };
    };
};
